@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

body {
  margin: 0px;
  background-color: #000000;
  padding: 0px 0px 0px 0px;
}
header {
   background-color: #000000;
   color: #FFFFFF;
   text-align: center;
   padding: 0px 50px 5px 0px;
   text-align: center;
   position: sticky;
   top: 0;
 }
 .subhead {
   font-family: cursive;
   margin:auto;
   text-align: center;
   padding: 0px 140px 0px 0px;
 }
.sideimg {
  margin: inherit;
  position: relative;
  padding: 0px 0px 10px 40px;
  float:left;
 }
 .webimg{
   padding: 15px;
 }
 .headname {
   text-decoration: none;
   color: #FFFFFF;
   font-size: 300%;
   font-family: 'Monoton';
   padding: 0px 0px 0px 0px;
 }
 .headname:hover {
   color: #FF6700;
 }
 .nav1 {
   background-color: #000000;
   text-align: center;
   padding: 5px 0px 10px 0px;
 }
.navlink1 {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  font-variant: small-caps;
  padding: 0px 0px;
  margin: auto 120px;
  text-align: center;
}
.navlink1:hover {
  color: #FF6700;
}
.tabletop{
  float: right;
  position: relative;
  margin: inherit;
  padding: 20px 0px 0px 0px;
}
.startimg{
  float:right;
  padding: 50px 50px 0px 0px;
}
.imgone{
  height:500px;
}
.teny{
  align-items: center;
  padding: 0px 0px 0px 0px;
}
main {
  background-color: #FFFFFF;
  margin: 0px;
  display: block;
}
.para1{
  background-color: #FFFFFF;
  color: #000000;
  font-size: 150%;
  font-family: monospace;
  text-align: center;
  margin: 100px 0px 100px 0px;
}
.second{
  background-color: rgba(151,186,205,0.18);
  margin: 0px;
}
.container1{
    display:flex;
    margin-bottom: 0px;
}
.left1{
  padding: 200px 200px 0px 150px;
  font-variant: small-caps;
  font-size: 200%;
  font-family: 'Lato', sans-serif;
  margin: 100px 0px 0px 0px;
}
.right1{
  padding: 190px 80px 130px 00px;
  float:right;
  margin:0px;
}
.container2{
  display: flex;
  margin: 0px;
}
.left2{
  background-color: #000000;
  color: #FFFFFF;
  width: 50%;
  text-align: center;
  font-size: 200%;
  font-family: monospace;
  padding: 0px 0px 90px 0px;
  border: 10px;
  border-color: #FF6700;
  border-style: solid;
  border-left: none;
  border-bottom: none;
}
.memhead{
  padding:20px 0px;font-size:200%;
  font-family: 'Knewave', cursive;
}
.members{
  list-style-type: none;
  padding: 60px 20px 60px 0px;
  font-family: 'Cinzel', serif;
}
.bandimg{
  border:2px;
  border-style:solid;
  border-color: #FFFFFF;
}
.bandlink{
  color: #FFFFFF;
  padding:20px;
  border: 2px;
  border-style: solid;
  text-decoration: none;
}
.bandlink:hover{
  background-color: #FFFFFf;
  color: #000000;
}
.right2{
  width: 50%;
  background-color: rgba(151,186,205,0.18);
  font-variant: small-caps;
  font-size: 200%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 180px 0px 0px 0px;
  border: 10px;
  border-color: #FF6700;
  border-style: solid;
  border-left: none; border-right: none;
  border-top: none;
}
.musiclink{
  color: #000000;
  padding:15px;
  border: 2px;
  border-style: solid;
  text-decoration: none;
}
.musiclink:hover{
  background-color: #000000;
  color: #FFFFFF;
}
.container3{
  background-color: #000000;
  display: flex;
  margin: 0px;
  text-align: center;
  padding: 100px 0px 0px 0px;
}
.left3{
  width: 50%;
  background-color: #DBF3FA;
  font-size: 200%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 0px 0px 50px 0px;
  border: 10px;
  border-color: #FF6700;
  border-style: solid;
  border-left: none; border-bottom: none;
}
.lanehead{
  color: #000000;
  font-size: 150%;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  text-decoration: overline;
  margin: 150px 20px 100px 20px;
}
.break{
  padding: 20px 100px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-variant: small-caps;
}
.breakimg{
  width: 500px;
  height: 250px;
  margin-top: 100px;
  border: 2px; border-style: dashed;
}
.right3{
  width: 50%;
  color: #FFFFFF;
  padding: 70px 0px 40px 0px;
  border: 10px;
  border-color: #FF6700;
  border-style: solid;
  border-top: none; border-left: none; border-right: none;
}
.break2{
  padding: 50px 0px;
  font-variant: small-caps;
  font-size: 200%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.container4{
  padding: 100px 0px 0px 0px ;
  margin: 0px 0px 0px 0px;
  text-align: center;
  background-color: #DBF3FA;
}
.achlink{
  color: #FFFFFF;
  padding:15px;
  border: 2px;
  border-style: solid;
  text-decoration: none;
  font-size: 200%;
  text-align: center;
  font-family: monospace;
}
.achlink:hover{
  background-color: #FFFFFF;
  color: #000000;
}
.container5{
  display: flex;
  margin: 300px 0px 0px 0px;
  padding: 50px 0px 50px 0px;
  background-color: #000000;
}
.con51{
  width:30%;
  padding: 0px 20px;
  text-align: left;
}
.con52{
  width:40%;
  padding:0px 20px;
  text-align:center;
}
.con53{
  width:30%;
  padding:0px 20px;
  text-align: right;
}
.backtop{
  color: #FFFFFF;
  font-size: 150%;
}
